<p><strong>Book Title: </strong> <%= @fulltitle %> </p>
<p><strong>Author: </strong> <%= @author %> </p>
<p><strong>Publisher: </strong> <%= @publisher %> </p>
<p><strong>Published date: </strong> <%= @published_date %> </p>
<p><strong>Description: </strong> <%= @description %> </p>
<p><strong>Book Cover: </strong></p>
<img src= "<%= @cover_image %>">
