<!DOCTYPE html>
<html>
  <head>
    <title>GameOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <a href="/magic8">magic 8 ball</a>
      <a href="/secret">Secret Number</a>
      <a href="/rps">Rock Paper Scissors</a>
    </nav>
    <%= yield %>
  </body>
</html>
