<h1><%= @brand.name %></h1>
<ul>
  <li>Name: <%= link_to @brand.name %></li>
</ul>
<div class="controls">
  <%= link_to "Edit brand", edit_brand_path(@brand) %>
  <%= link_to "Delete", @brand, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
  <%= link_to "Back to list ", brands_url %>
</div>
