<h2>Edit Ocean</h2>
<form action="<%= ocean_path(@ocean.id) %>" method="post">
  <label>
    Name:
    <input name="name" required autofocus value="<%= @ocean.name %>">
  </label>
  <label>
    Image:
    <input type="url" name="image" value="<%= @ocean.image %>">
  </label>
  <label>
    Location:
    <input type="text" name="location" value="<%= @ocean.location %>">
  </label>
  <label>
    Description:
    <input class="textarea" type="text" name="description" value="<%= @ocean.description %>">
  </label>
  <label>
    <button>Update ocean</button>
  </form>
