<h2>Edit Post</h2>

<form action="/blog_entry/<%= @entry["id"] %>" method="post">
  <label>
    New Title:
    <input type="text" name="title" placeholder="Blah blah" required value="<%= @entry["title"] %>">
  </label>
  <label>
    Entry Date:
    <input type="text" name="entry_date" placeholder="Thursday, 31 January 2019" required value="<%= @entry["entry_date"] %>">
  </label>
  <label>
    Entry:
    <textarea name="entry" rows="10" cols="120" required value="<%= @entry["entry"] %>"></textarea>
    <!-- <input type="submit"> -->
  </label>
  <label>
    Image:
    <input type="text" name="image" placeholder="Blah blah blahh" value="<%= @entry["image"] %>">
  </label>
  <label>
    Tags:
    <input type="text" name="tags" placeholder="JavaScript, Jquery, Ruby" required value="<%= @entry["tags"] %>">
  </label>

  <button>Update Post</button>
</form>
