<!DOCTYPE html>
<html>
  <head>
    <title>ComicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav>
  <%= link_to "All Artists", authors_path %>
  <%= link_to "New Artist", new_author_path %>
  <%= link_to "All Comics", comics_path %>
  <%= link_to "New comic", new_comic_path %>
  </nav>
    <%= yield %>
  </body>
</html>
