<div class="tupperware">
<h2>Edit <%= @book["title"] %></h2>

<form action="/books/<%= @book["id"] %>" method="post">

  <label>
    Title:
    <input type="text" name="title" value="<%= @book["title"] %>">
  </label>

  <label>
    Author:
    <input type="text" name="author" value="<%= @book["author"] %>">
  </label>

  <label>
    Genre:
    <input type="text" name="genre" value="<%= @book["genre"] %>">
  </label>

  <label>
    Summary:
    <input type="text" name="summary" value="<%= @book["summary"] %>">
  </label>

  <label>
    Image:
    <input type="url" name="image" value="@book["image"]">
  </label>

  <button>Save</button>
  <!-- something went so wrong because of the auto set up of button. -->
</form>
</div>
