<img src ="<%= @cover_image %>" alt="Book image">
<p>
  <strong>Title: </strong> <%= @title %><br>
  <strong>Author: </strong><%= @authors %><br>
  <strong>Publisher: </strong><%= @publisher %><br>
  <strong>Published Date: </strong><%= @publishedDate %><br>
  <strong>Pages: </strong><%= @pageCount %><br>
  <strong>Description: </strong><%= @description %><br>
  
</p>
