<!DOCTYPE html>
<html>
  <head>
    <title>Vehicles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "All Brands", brands_path %>
      <%= link_to "New Brand", new_brand_path %>
      |
      <%= link_to "All Motorbike", motorbikes_path %>
      <%= link_to "New Motorbike", new_motorbike_path %>
    </nav>
    <%= yield %>
  </body>
</html>
