<h1><%= @actor.name %></h1>
<%= image_tag @actor.image, :class =>'feature' if @actor.image.present? %>

<ul>
  <li>Name:<%= @actor.name %></li>
  <li>Date of Birth:<%= @actor.dob.strftime 'A %B %e, %Y' %></li>
  <li>Born: <%= @actor.born %></li>
</ul>

<% @actor.movies.each do |movie| %> 
<%= link_to image_tag(movie.image, :class =>'thumb'), movie %>
<% end %>

<div class= "control">
  <%= link_to "Edit Actor", edit_actor_path(@actor) %>
  <%= link_to "Delete Actor", @actor, :method => 'delete', :data => {:confirm =>'are you sure?'} %>
</div>
