<!DOCTYPE html>
<html>
  <head>
    <title>Imdb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'All Actors', actors_path %>
      <%= link_to 'New Actor', new_actor_path %>
      |
      <%= link_to 'All Movies', movies_path %>
      <%= link_to 'New Movie', new_movie_path %>

    </nav>

    <%= yield %>
  </body>
</html>
