<h2>Information about <%= @title %></h2>

<img src="<%= @cover_image %>" alt="<%= @title %>">

<div class="info">
  <h3><%= @author %></h3>
  <p>Published in <%= @published_date %></p>
  <p>Book description:</p>
  <p><%= @description %></p>
</div>
