<!DOCTYPE html>
<html>
  <head>
    <title>MountainApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav>
  <%= link_to 'All Mountains', mountains_path %>
  <%= link_to 'New Mountain', new_mountain_path %>
  </nav>
    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </body>
</html>
