<h2>Edit Footballer</h2>

<form action="/footballers/<%= @footballer["id"] %>" method="post">
  <label>
    Name:
    <input name="name" placeholder="<%= @footballer["name"] %>" required value="<%= @footballer["name"] %>">
  </label>

  <label>
    Position:
    <input name="position" placeholder="<%= @footballer["position"] %>" value="<%= @footballer["position"] %>">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://..." value="<%= @footballer["image"] %>">
  </label>

  <button>Update footballer</button>
</form>
