<h2><%= @game['name'] %></h2>
<p><%= @game['min_player'] %> - <%= @game['max_player']%> players</p>
<p>publisher: <%= @game['publisher'] %></p>

<% unless @game['image'].nil? || @game['image'].empty?%>
<img class="feature" src="<%= @game['image'] %>" alt="<%= @game['name'] %>">
<% end %>

<div class="controls">
    <a href="/boardgame/<%= @game['id'] %>/edit">Update Game</a>
    <a href="/boardgame/<%= @game['id'] %>/delete">Delete Game</a>
</div>
