<form action="/rps/info">

<label>
SELECT ROCK SCISSORS PAPER
  <select name="numer">


    <option value="<%=@rsp[0]%>"><%=@rsp[0]%></option>
    <option value="<%=@rsp[1]%>"><%=@rsp[1]%></option>
    <option value="<%=@rsp[2]%>"><%=@rsp[2]%></option>
  </select>


</label>


<button>Play</button>

</form>
