<!DOCTYPE html>
<html>
  <head>
    <title>Gameonrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <%# <a href="/magic_8_ball">Magic 8 ball</a>
      <a href="/secret_number">Secret Number</a>
      <a href="/rock">Rock Paper Scissors</a> %>
    </nav>
    <%= yield %>
  </body>
</html>
