<!DOCTYPE html>
<html>
  <head>
    <title>GamesOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="container">
  <nav>
  <a href="/">Home</a>
  <a href="/magic">Magic 8</a>
  <a href="/secret">Secret Number</a>
  <a href='/rps'>Rock Paper Scissors</a>
  </nav>

    <%= yield %>
  </div>
  </body>
</html>
