<h2>
<%= @place["name"] %>
</h2>
<h3>
  Description: <%= @place["description"] %> </h3>
</h3>

<% unless @place["image"].nil? || @place["image"].empty? %>
<img class="imgfeat" src="<%= @place["image"] %>" alt="<%= @place["name"] %>">

<% end %>

<div class="controls">
  <a href="/places/<%= @place["id"] %>/edit"> Edit activity</a>
<a href="/places/<%= @place["id"] %>/delete"> Delete activity</a>
</div>
