<h2><%= @mountain.name %></h2>


<%= image_tag @mountain.image, :class => "feature" if @mountain.image.present? %>
<div class="showlist">
<ul>
<li>Name: <%= @mountain.name %></li>
<li>Height: <%= @mountain.height %>M</li>
<li>Coordinate: <%= @mountain.coordinate %></li>
</ul>

<div class="control">
<%= link_to 'Edit mountain', edit_mountain_path(@mountain.id) %>
<%= button_to 'Delete mountain', mountain_path(@mountain.id), :method => 'delete' %>
</div>
</div>